@import url('https://necolas.github.io/normalize.css/latest/normalize.css');
:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #16a2de;
  padding-right: 4rem;
  padding-left: 4rem;
}

.kittens-of-day, .kitten-main-text {
  height: 100%;
}

.kittens-of-day {
  display: flex;
  flex-direction: column;
  padding: .3rem;
  border: solid #0b7d96;
  margin: 1rem;
}

.kittens-of-day h3 {
  text-align: left;
  margin-top: .4rem;
  color: #333c41;
}

.kittens-of-day ul {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.kitten-main-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 1rem;
}

main {
  background-color: #c9cbcb;
  display: flex;
  height: 100%;
}

header {
  background-color: #c9cacb;
}

header h1 {
  margin: .5rem;
  text-align: center;
  font-size: 3em;
  margin-bottom: 1.2rem;
  color: #333c41;
}

header ul {
  list-style: none;
  background-color: #1b81c1;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

header li+li {
  margin-left: 1rem;
}

header ul li a {
  color: #f6f7f7;
}

footer ul {
  list-style: none;
  background-color: #e9d8e0;
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0;
}

footer li+li {
  margin-left: 1rem;
}

footer ul li a {
  color: #1d2121;
}